.Header-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-head{
    font-size: 12rem;
    margin-top: -20rem;
    
}